juegardo-jam/.godot/editor/editor_layout.cfg
juegardo-jam/.godot/editor/filesystem_cache10
juegardo-jam/.godot/editor/project_metadata.cfg
juegardo-jam/.godot/editor/script_editor_cache.cfg
juegardo-jam/.godot/global_script_class_cache.cfg
